/*portfolio style.css*/

.table-1 {
  padding-top: 20px;
  font-size: 32px; /*change to em/rem --- 16px == 1em/rem */
  

}

.text-1 a {

  color: yellow;

}

/*using pseudoclass*/
.text-1 a:visited {
  color: purple; 

}

.text-1 a:hover {
  color: green;
  
}

/*github.html stylesheet --- you can name your new stylesheet github.style.css-- */

body a:hover {
  color: blue;

}


